# Created by .ignore support plugin (hsz.mobi)
.gradle/
.idea/.gitignore
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/uiDesigner.xml
.idea/vcs.xml
build/
gradle/
gradlew
gradlew.bat
log/
