// Colors to be used
$main_color      : #33393B;
$sub_color       : #EEE;
$highlight_color : #71AC69;
$red_color       : #C23825;
$blue_color      : #227FBB;
$hover_color     : #f2f2f2;

// Palette:

div.white  { background-color: white; }
div.black  { background-color: black; }
div.red    { background-color: #C23825; }
div.blue   { background-color: #227FBB; }
div.green  { background-color: #19AF5D; }
div.yellow { background-color: #F3C501; }
div.orange { background-color: #D55400; }
div.purple { background-color: #8F40AF; }
div.pink   { background-color: #DA549F; }
div.brown  { background-color: #AF5740; }
