// Colors to be used
$main_color      : #33393B;
$sub_color       : #EEE;
$highlight_color : #71AC69;
$red_color       : #C23825;
$blue_color      : #227FBB;
$hover_color     : #f2f2f2;

// Palette:

b.white  { background-color: white; }
b.black  { background-color: black; }
b.red    { background-color: #C23825; }
b.blue   { background-color: #227FBB; }
b.green  { background-color: #19AF5D; }
b.yellow { background-color: #F3C501; }
b.orange { background-color: #D55400; }
b.purple { background-color: #8F40AF; }
b.pink   { background-color: #DA549F; }
b.brown  { background-color: #AF5740; }
